:root {
	--norm-font: "robotoregular";
	--light-font: "robotolight";
	--bold-font: "robotobold";

	--background-color: "--color-2";
	--secondary-background-color: "--color-1";
	--container-background-color: rgb(200,200,200);
	--container-text-color: "--color-1";

	--button-background-color: "--color-1";
	--button-text-color: black;
	--button-hover-background: rgb(200,200,200);
	--button-hover-text: black;
	--button-active-color: white;

	--header-background-color: red;
	--header-text-color: black;
	--header-icon-color: white;
	--navigation-background-color: white;
	--navigation-icon-color: rgb(100,100,100);
	--navigation-active-icon-color: red;

	--active-color: red;
	--active-hover-color: rgb(230,0,0);

	--outline-color: rgb(180,180,180);

	--anchor-color: red;
	--anchor-hover: black;
}
